.dashboard {
    -fx-background-color: black
}

.left-clock, .right-clock, .fuel-lvl, .rot-lvl {
    /*-fx-background-color: red;*/
}

.left-clock {
    -fx-background-image: url(speed-clock.png);
}

.right-clock, .rot-lvl, .fuel-lvl {
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
}

.right-clock {
    -fx-background-image: url(rot-clock.png);
}

.rot-lvl {
    -fx-background-image: url(rot-lvl.png);
}

.speed-lvl {
    -fx-background-image: url(speed-lvl.png);
}

.fuel-lvl {
    -fx-background-image: url(fuel-lvl.png);
}

.break-pedal {
    -fx-background-image: url(break-pedal.png);
    -fx-background-color: transparent;
}

.break-pedal:pressed {
    -fx-background-image: url(break-pedal-pressed.png);
}

.gas-pedal {
    -fx-background-image: url(gas-pedal.png);
    -fx-background-color: transparent;
}

.gas-pedal:pressed {
    -fx-background-image: url(gas-pedal-pressed.png);
}